body {
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1, h2, label {
    color: #ffffff !important;
}

.input-group input, 
.input-group select,
.goal-container input, 
#savings-amount, 
#withdraw-amount, 
#savings-goal, 
#goal-description {
    background-color: #1e1e1e;  
    color: #ffffff; 
    border: 1px solid #555; 
}

table {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

th {
    background-color: #333;
}

tbody tr:hover {
    background-color: #2a2a2a;
    transition: background-color 0.3s ease;
}

.button-group button, 
.clear-button-group button,
.quick-add-buttons button,
#add-savings-btn,
#withdraw-btn {
    background-color: #B03060;  
    color: white;
}

.button-group button:hover, 
.clear-button-group button:hover,
.quick-add-buttons button:hover,
#add-savings-btn:hover,
#withdraw-btn:hover {
    background-color: #8B1C48;  
}

#notification {
    background-color: #4CAF50;
    color: white;
}

.progress-bar-container {
    background-color: #333;  
}

.progress-bar {
    background-color: #D1457B;  
}

#goal-progress-text {
    color: #D1457B;  
    font-weight: bold;
}

#transaction-history button {
    background-color: #B03060; 
    color: white;
}

#transaction-history button:hover {
    background-color: #8B1C48; 
}

