body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.button-group, .clear-button-group {
    text-align: center;
    margin-top: 10px;
}

.button-group button, .clear-button-group button {
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    width: 100%;
}

.button-group button:hover, .clear-button-group button:hover {
    background-color: #FF1493;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #FF69B4;
    color: white;
}

.summary {
    text-align: center;
    margin-bottom: 20px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.positive {
    color: #4CAF50;
    font-weight: bold;
}

.negative {
    color: #FF6347;
    font-weight: bold;
}

#notification {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000; /* Dodaj da bi bio iznad ostalih elemenata */
}

#notification.show {
    opacity: 1;
}

.hidden {
    display: none;
}


.quick-add-buttons button {
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.quick-add-buttons button:hover {
    background-color: #FF1493;
}

.made-by {
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #FF69B4;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#savings-animation {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#savings-animation.show {
    opacity: 1;
    transform: translateY(0);
}
